<h1> Upload </h1>
<%= form_with do |form| %>
    <%= form.file_field :file , accept:"application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"%>
    <%= form.submit %>
<%end%> 